* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

.appLight{
  background-color: #F4F6F8;
  color: #000000;
}

.appDark {
  background-color: #000000;
  color: #FFFFFF;
}